body {
    /* padding-top: 50px;
    padding-bottom: 20px; */
    font-family: 'Roboto', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg_color_gray {
    background-color: #ccc;
}

.bg_color_white {
    background-color: white;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.slider_img {
    width:100%;
    height: 450px !important;
    object-fit: cover;
}

.navbar-inverse {
    background-color: #122C34;
}

.nav > li {
    margin-top: 22px;
}

.nav > li a {
    color:white !important;
}

.navbar_logo {
    z-index: 500;
    height: 90px;
    width: 120px;
}

.navbar {
    min-height: 70px;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 769px) {
    /* Hide captions */
    .read_news {
        margin-bottom: 30px;
    }

    .news_info_title {
        font-size: 24px !important;
        line-height: 33px !important;
    }

    .news_info {
        height: 182px !important;
    }

    .news_info_title {
        height: 104px !important;
    }

    .news_info_tag--small {
        height: 23px !important;
        padding: 3px 25px !important;
        font-size: 14px !important;
    }
}

@media (max-width: 992px) {
    /* Hide captions */
    .news_row {
        margin-bottom: 0px !important;
    }

    .main_news {
        margin-bottom: 30px;
    }
}

.vertical_offset {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical_header_offset {
    margin-top: 120.4px;
}

.news_image {
    height: 210px;
    background-size: cover;
}

.news_info {
    height: 200px;
    padding: 1px 0;
    background-color: #006476;
}

.news_info_title {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    height: 120px;
    margin: 0 0 8px;
}

.news_title_link {
    color: white;
}

.news_title_link:hover {
    color: white;
    text-decoration: underline;
}

.news_info_wrap {
    padding: 11px 13px;
}

.news_info_tag--small {
    height: 17px;
    line-height: 15px;
    padding: 3px 10px;
    font-size: 10px;
    letter-spacing: .5px;
}

.news_info_footer {
    color: rgba(255, 255, 255, 0.4);
}


.news_info_tag {
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid #09D0CC;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    /* font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif; */
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news_info_header {
    margin-bottom: 8px;
}

.news_row {
    margin-bottom: 30px;
}


.main_news {
    height: 385px;
    position: relative;
    overflow: hidden;
    color: #fff;
    border-radius: 3px;
}

.main_news:after {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .06) 10%, rgba(0, 0, 0, .16) 21%, rgba(0, 0, 0, .36) 39%, rgba(0, 0, 0, .78) 73%, rgba(0, 0, 0, .91) 86%, black 100%);
}

.news_cover {
    height: 100%;
    background-size: cover;
}

.news_wrap {
    /* position: relative; */
    z-index: 5;
    width: 100%;
    height: 100%;
}

.news_wrap_tag {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 6;
    font-size: 16px;
    display: inline-block;
    padding: 2px 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

.news_wrap_tag a {
    color: white;
}

.news_wrap_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px 20px 20px;
    z-index: 100;
}

.news_wrap_title {
    font-size: 22px;
    margin: 0 0 20px;
}

.news_wrap_title a {
    color: white;
}

.news_wrap_bottom {
    font-size: 12px;
    margin-top: 30px;
} 


.footer_wrap {
    width: 100%;
    background-color: #006476;
    min-height: 200px;
    color: white;
    text-align: center;
}

.footer_logo {
    width: 170px;
    height: 150px;
}

.thumbnail {
    background-size: contain;
}

.checkbox_login_form {
    margin-top: 4px !important;
}

.checkbox label {
    padding-left: 0px;
}