body {
    /* padding-top: 50px;
    padding-bottom: 20px; */
    font-family: 'Roboto', sans-serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.bg_color_gray {
    background-color: #ccc;
}

.bg_color_white {
    background-color: white;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.slider_img {
    width:100%;
    height: 450px !important;
    object-fit: cover;
}

.navbar-inverse {
    background-color: #122C34;
}


.navbar-inverse .navbar-toggle {
    margin-top: 30px;
}

.nav > li {
    margin-top: 22px;
}

.nav > li a {
    color:white !important;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}

.navbar_logo {
    z-index: 500;
    height: 90px;
    width: 120px;
}

.navbar {
    min-height: 70px;
}



/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (max-width: 769px) {
    /* Hide captions */
    /* .read_news {
        margin-bottom: 30px;
    }

    .news_info_title {
        font-size: 24px !important;
        line-height: 33px !important;
    }

    .news_info {
        height: 182px !important;
    }

    .news_info_title {
        height: 104px !important;
    }

    .news_info_tag--small {
        height: 23px !important;
        padding: 3px 25px !important;
        font-size: 14px !important;
    } */

    .adv {
        margin-bottom: 30px;
    }

    .adv p {
        margin-top: 55px;
    }

    .hidden-mobile {
        display: none !important;
    }
    
    .visible-mobile {
        display: block !important;
    }

    .feature_text p {
        text-align: center;
    }

    .feature_img {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    /* Hide captions */
    .news_row {
        margin-bottom: 0px !important;
    }

    .main_news {
        margin-bottom: 30px;
    }
    .read_news {
        margin-bottom: 30px;
    }

    .news_info_title {
        font-size: 24px !important;
        line-height: 33px !important;
    }

    .news_info {
        height: 182px !important;
    }

    .news_info_title {
        height: 104px !important;
    }

    .news_info_tag--small {
        height: 23px !important;
        padding: 3px 25px !important;
        font-size: 14px !important;
    }
}

.vertical_offset {
    margin-top: 20px;
    margin-bottom: 20px;
}

.vertical_header_offset {
    margin-top: 120.4px;
}

.news_head {
    text-align: center;
    padding: 20px 0 25px 0;
    border-bottom: 3px solid #0b4f6c;
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: -60px;
}

.news_image {
    height: 210px;
    background-size: cover;
}

.news_info {
    height: 200px;
    padding: 1px 0;
    background-color: #006476;
}

.news_info_title {
    font-size: 16px;
    line-height: 20px;
    overflow: hidden;
    height: 120px;
    margin: 0 0 8px;
}

.news_title_link {
    color: white;
}

.news_title_link:hover {
    color: white;
    text-decoration: underline;
}

.news_info_wrap {
    padding: 11px 13px;
}

.news_info_tag--small {
    height: 17px;
    line-height: 15px;
    padding: 3px 10px;
    font-size: 10px;
    letter-spacing: .5px;
}

.news_info_footer {
    color: rgba(255, 255, 255, 0.4);
}


.news_info_tag {
    position: relative;
    z-index: 30;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    border: 1px solid #09D0CC;
    border-radius: 2px;
    font-weight: 700;
    line-height: 1;
    /* font-family: 'Proxima Nova','Arial','Helvetica Neue',sans-serif; */
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news_info_header {
    margin-bottom: 8px;
}

.news_row {
    margin-bottom: 30px;
}


.main_news {
    height: 385px;
    position: relative;
    overflow: hidden;
    color: #fff;
    border-radius: 3px;
}

.main_news:after {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    content: '';
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .06) 10%, rgba(0, 0, 0, .16) 21%, rgba(0, 0, 0, .36) 39%, rgba(0, 0, 0, .78) 73%, rgba(0, 0, 0, .91) 86%, black 100%);
}

.news_cover {
    height: 100%;
    background-size: cover;
}

.news_wrap {
    /* position: relative; */
    z-index: 5;
    width: 100%;
    height: 100%;
}

.news_wrap_tag {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 6;
    font-size: 16px;
    display: inline-block;
    padding: 2px 15px;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
}

.news_wrap_tag a {
    color: white;
}

.news_wrap_text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px 20px 20px;
    z-index: 100;
}

.news_wrap_title {
    font-size: 22px;
    margin: 0 0 20px;
}

.news_wrap_title a {
    color: white;
}

.news_wrap_bottom {
    font-size: 12px;
    margin-top: 30px;
} 

.adventages .row{
    padding: 60px 0px;
}

.adv_img {
    height: 160px;
}


.adv p {
    margin: 20px 0 10px;
    text-align: center;
    /* color: white; */
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: #122C34;
}



.feature_text p {
    font-size: 44px;
    color: #122C34;
}


.footer_wrap {
    width: 100%;
    background-color: #006476;
    min-height: 200px;
    color: white;
    text-align: center;
}

.footer_logo {
    width: 300px;
    height: 230px;
}

footer .copyright_text {
    text-transform: uppercase;
    opacity: .5;
}

.thumbnail {
    background-size: contain;
}

.checkbox_login_form {
    margin-top: 4px !important;
}

.checkbox label {
    padding-left: 0px;
}

.feature {
    max-width: 980px;
    margin: 0px 0 50px 0;
}

/* .feature_text {
    display: flex;
}

.feature_img {
    display: flex;
} */

@media (min-width: 768px) {
    .feature {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        max-width: 980px;
        
        padding-left: 50px;
    }

    /* .feature .feat_lesson .feature_text{
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
            -ms-flex-order: 1;
                order: 1;
    }

    .feature .feat_lesson .feature_img{
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
            -ms-flex-order: 2;
                order: 2;
    } */

    
}


.schedule_table {
    -webkit-box-shadow: 0px 0px 48px -13px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 0px 48px -13px rgba(0,0,0,0.61);
    box-shadow: 0px 0px 48px -13px rgba(0,0,0,0.61);
}

.schedule_table table td {
    padding: 5px;
    border: 1px solid black;
    height: 25px;
    vertical-align: middle;
}